.step-info {
  margin: 10px 0;
}
.btn-group {
  display: flex;
  justify-content: end;
  padding-right: 40px;
}
.redoOut {
  color: #333;
  margin-top: 10px;
  cursor: pointer;
  //悬停效果
  &:hover {
    color: #165dff;
  }
}
