.robot {
  padding: 0 15px;
  .a-action {
    color: #165dff;
  }
  .robot-text {
    background: #fff;
    border-radius: 0 10px 10px 10px;
    padding: 13px;
    line-height: 16px;
  }
  .robot-btns {
    display: flex;
    align-items: center;
    margin-top: 6px;
    > div {
      cursor: pointer;
      background: #d6e3ff;
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin-right: 6px;
    }
  }
  .header {
    .robot-logo {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        margin-right: 5px;
      }
    }
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    margin-left: 8px;
  }
  .middle {
    height: calc(100vh - 280px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      margin-bottom: 16px;
    }
    .info {
      padding: 13px;
      background: linear-gradient(180deg, #d2e6ff, #e6effa);
      border-radius: 0 5px 5px 5px;
      .info-title {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        background: linear-gradient(
          271.69648deg,
          #8a68ff 5%,
          #165dff 39%,
          #8968ff
        );
        -webkit-text-fill-color: transparent;
        background-clip: text;
        img {
          width: 20px;
          margin-right: 8px;
        }
      }
      .info-body {
        color: #767676;
        margin-top: 8px;
        line-height: 16px;
      }
    }
    .user {
      display: flex;
      justify-content: flex-end;
      .user-text {
        background: #165dff;
        border-radius: 5px 0 5px 5px;
        color: #fff;
        font-size: 12px;
        white-space: pre-wrap;
        word-break: break-all;
        padding: 7.5px;
      }
    }
  }
  .footer {
    height: 100px;
    .writing-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      .options-left {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .option-btn {
          background: #dfeefc;
          border: none;
          border-radius: 5px;
          margin-right: 5px;
          padding: 5px 4px;
          color: #606266;
          cursor: pointer;
        }
        .action {
          background: #165dff;
          color: #fff;
        }
      }

      .document-upload {
        padding-left: 4px;
        font-size: 10px;
        .page-list {
          width: 150px;
          font-size: 10px;
          .table-hr {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
          }
          .table-th {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e6effa;
            color: #767676;
            > div {
              //超出部分省略号
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            //最后一个不显示
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
    .textArea-body {
      background: #fff;
      border: 1px solid #165dff;
      border-radius: 5px;
      .textArea:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .textArea-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 8px;
      .footer-left {
        display: flex;
        align-items: center;
      }
      img {
        width: 16px;
        cursor: pointer;
      }
    }
  }
}
