.robot {
  padding: 0 15px;
  .header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 8px;
    img {
      margin-right: 5px;
      width: 35px;
    }
  }
  .middle {
    height: calc(100vh - 260px);
  }
  .footer {
    height: 100px;
    .textArea-body {
      background: #fff;
      border: 1px solid #165dff;
      border-radius: 5px;
    }
  }
}
