.compare {
  margin-top: 20px;
  position: relative;
  .upload {
    position: absolute;
    top: 0px;
    right: 4px;
  }
  .doc-page {
    line-height: 1.5;
    height: calc(100vh - 140px);
    overflow-y: scroll;
    padding: 0 20px;
  }
}
